In [1]:
# Dependencies
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd

ModuleNotFoundError: No module named 'sklearn'

In [2]:
A_df = pd.read_csv('countries-by-internet-users.csv')
A_df.head()

NameError: name 'pd' is not defined

In [3]:
A_df = A_df.rename(columns={"Country or Area":"Country"})

In [4]:
A_df.head()

         Country Internet Users     Population  Rank Percentage Rank.1
0          China    765,367,947  1,409,517,397     1     54.30%    116
1          India    461,347,554  1,339,180,127     2     34.45%    145
2  United States    244,090,854    324,459,463     3     75.23%     68
3         Brazil    141,206,801    209,288,278     4     67.47%     83
4          Japan    115,845,120    127,484,450     5     90.87%     23

In [5]:
B_df = pd.read_csv('world-happiness-report-2019.csv')
B_df.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [6]:
B_df = B_df.rename(columns={"Country (region)":"Country"})

In [7]:
B_df.head()

,Country,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [8]:
Combined_df = pd.merge(B_df, A_df, how='outer', on='Country')

In [9]:
Combined_df.head()

,Country,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,Internet Users,Population,Rank,Percentage,Rank.1
0,Finland,1.0,4.0,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,"4,831,170","5,523,231",83.0,87.47%,29
1,Denmark,2.0,13.0,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,"5,567,278","5,733,551",79.0,97.10%,9
2,Norway,3.0,8.0,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,"5,120,225","5,305,383",81.0,96.51%,11
3,Iceland,4.0,9.0,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,"329,196","335,025",164.0,98.26%,3
4,Netherlands,5.0,1.0,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,"15,877,494","17,035,938",41.0,93.20%,20

In [10]:
Combined_df = Combined_df.rename(columns={"SD of Ladder":"Rank of SD of Happiness Rank"})
Combined_df = Combined_df.rename(columns={"Ladder":"Happiness Rank"})
Combined_df = Combined_df.rename(columns={"Rank":"Internet Percent Usage Rank"})
Combined_df = Combined_df.rename(columns={"Log of GDP\nper capita":"Rank of GDP per Capita"})
Combined_df = Combined_df.rename(columns={"Healthy life\nexpectancy":"Rank of Health and Life Expectancy"})
Combined_df = Combined_df.rename(columns={"Generosity":"Rank of Generosity"})
Combined_df = Combined_df.rename(columns={"Corruption":"Rank of Corruption"})
Combined_df = Combined_df.rename(columns={"Freedom":"Rank of Freedom"})
Combined_df = Combined_df.rename(columns={"Social support":"Rank of Social Support"})
Combined_df = Combined_df.rename(columns={"Percentage":"Internet Users as Percentage of Population"})
del Combined_df["Rank.1"]
del Combined_df["Positive affect"]
del Combined_df["Negative affect"]

In [11]:
Combined_df.head(250)

,Country,Happiness Rank,Rank of SD of Happiness Rank,Rank of Social Support,Rank of Freedom,Rank of Corruption,Rank of Generosity,Rank of GDP per Capita,Rank of Health and Life Expectancy,Internet Users,Population,Internet Percent Usage Rank,Internet Users as Percentage of Population
0,Finland,1.0,4.0,2.0,5.0,4.0,47.0,22.0,27.0,"4,831,170","5,523,231",83.0,87.47%
1,Denmark,2.0,13.0,4.0,6.0,3.0,22.0,14.0,23.0,"5,567,278","5,733,551",79.0,97.10%
2,Norway,3.0,8.0,3.0,3.0,8.0,11.0,7.0,12.0,"5,120,225","5,305,383",81.0,96.51%
3,Iceland,4.0,9.0,1.0,7.0,45.0,3.0,15.0,13.0,"329,196","335,025",164.0,98.26%
4,Netherlands,5.0,1.0,15.0,19.0,12.0,7.0,12.0,18.0,"15,877,494","17,035,938",41.0,93.20%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,Falkland Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,881","2,910",211.0,99.02% (2016)
218,Montserrat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,833","5,177",212.0,54.55% (2013)
219,Wallis and Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,383","11,773",213.0,8.95% (2012)
220,Niue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,034","1,618",214.0,86.90% (2013)
221,Ascension,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361,806,215.0,41.03% (2012)

In [12]:
Combined_df = Combined_df.dropna()
Combined_df.head()

,Country,Happiness Rank,Rank of SD of Happiness Rank,Rank of Social Support,Rank of Freedom,Rank of Corruption,Rank of Generosity,Rank of GDP per Capita,Rank of Health and Life Expectancy,Internet Users,Population,Internet Percent Usage Rank,Internet Users as Percentage of Population
0,Finland,1.0,4.0,2.0,5.0,4.0,47.0,22.0,27.0,"4,831,170","5,523,231",83.0,87.47%
1,Denmark,2.0,13.0,4.0,6.0,3.0,22.0,14.0,23.0,"5,567,278","5,733,551",79.0,97.10%
2,Norway,3.0,8.0,3.0,3.0,8.0,11.0,7.0,12.0,"5,120,225","5,305,383",81.0,96.51%
3,Iceland,4.0,9.0,1.0,7.0,45.0,3.0,15.0,13.0,"329,196","335,025",164.0,98.26%
4,Netherlands,5.0,1.0,15.0,19.0,12.0,7.0,12.0,18.0,"15,877,494","17,035,938",41.0,93.20%

In [13]:
Combined_df['Internet and Happiness Score'] = Combined_df['Happiness Rank'] + Combined_df['Internet Percent Usage Rank']
Combined_df.head()

,Country,Happiness Rank,Rank of SD of Happiness Rank,Rank of Social Support,Rank of Freedom,Rank of Corruption,Rank of Generosity,Rank of GDP per Capita,Rank of Health and Life Expectancy,Internet Users,Population,Internet Percent Usage Rank,Internet Users as Percentage of Population,Internet and Happiness Score
0,Finland,1.0,4.0,2.0,5.0,4.0,47.0,22.0,27.0,"4,831,170","5,523,231",83.0,87.47%,84.0
1,Denmark,2.0,13.0,4.0,6.0,3.0,22.0,14.0,23.0,"5,567,278","5,733,551",79.0,97.10%,81.0
2,Norway,3.0,8.0,3.0,3.0,8.0,11.0,7.0,12.0,"5,120,225","5,305,383",81.0,96.51%,84.0
3,Iceland,4.0,9.0,1.0,7.0,45.0,3.0,15.0,13.0,"329,196","335,025",164.0,98.26%,168.0
4,Netherlands,5.0,1.0,15.0,19.0,12.0,7.0,12.0,18.0,"15,877,494","17,035,938",41.0,93.20%,46.0

In [14]:
Sorted_df = Combined_df.sort_values("Internet and Happiness Score")
Sorted_df.head()

,Country,Happiness Rank,Rank of SD of Happiness Rank,Rank of Social Support,Rank of Freedom,Rank of Corruption,Rank of Generosity,Rank of GDP per Capita,Rank of Health and Life Expectancy,Internet Users,Population,Internet Percent Usage Rank,Internet Users as Percentage of Population,Internet and Happiness Score
18,United States,19.0,49.0,37.0,62.0,42.0,12.0,10.0,39.0,"244,090,854","324,459,463",3.0,75.23%,22.0
16,Germany,17.0,17.0,39.0,44.0,17.0,19.0,17.0,25.0,"69,304,405","82,114,224",9.0,84.40%,26.0
14,United Kingdom,15.0,16.0,9.0,63.0,15.0,4.0,23.0,24.0,"62,621,016","66,181,585",11.0,94.62%,26.0
22,Mexico,23.0,76.0,67.0,71.0,87.0,120.0,57.0,46.0,"82,470,752","129,163,276",8.0,63.85%,31.0
8,Canada,9.0,23.0,20.0,9.0,11.0,14.0,19.0,8.0,"33,950,632","36,624,199",22.0,92.70%,31.0

In [15]:
Sorted_df[["Country", "Internet and Happiness Score", "Happiness Rank", "Internet Percent Usage Rank","Rank of SD of Happiness Rank", "Rank of Social Support","Rank of Freedom", "Rank of Corruption","Rank of Generosity", "Rank of GDP per Capita", "Rank of Health and Life Expectancy", "Internet Users", "Population", "Internet Users as Percentage of Population"]]

,Country,Internet and Happiness Score,Happiness Rank,Internet Percent Usage Rank,Rank of SD of Happiness Rank,Rank of Social Support,Rank of Freedom,Rank of Corruption,Rank of Generosity,Rank of GDP per Capita,Rank of Health and Life Expectancy,Internet Users,Population,Internet Users as Percentage of Population
18,United States,22.0,19.0,3.0,49.0,37.0,62.0,42.0,12.0,10.0,39.0,"244,090,854","324,459,463",75.23%
16,Germany,26.0,17.0,9.0,17.0,39.0,44.0,17.0,19.0,17.0,25.0,"69,304,405","82,114,224",84.40%
14,United Kingdom,26.0,15.0,11.0,16.0,9.0,63.0,15.0,4.0,23.0,24.0,"62,621,016","66,181,585",94.62%
22,Mexico,31.0,23.0,8.0,76.0,67.0,71.0,87.0,120.0,57.0,46.0,"82,470,752","129,163,276",63.85%
8,Canada,31.0,9.0,22.0,23.0,20.0,9.0,11.0,14.0,19.0,8.0,"33,950,632","36,624,199",92.70%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,South Sudan,292.0,156.0,136.0,140.0,148.0,154.0,61.0,85.0,140.0,143.0,"1,003,542","12,575,714",7.98%
144,Burundi,293.0,145.0,148.0,138.0,152.0,135.0,23.0,149.0,151.0,135.0,"607,311","10,864,245",5.59%
140,Liberia,300.0,141.0,159.0,156.0,127.0,94.0,126.0,110.0,150.0,126.0,"377,607","4,731,906",7.98%
141,Comoros,326.0,142.0,184.0,143.0,143.0,148.0,81.0,62.0,143.0,117.0,"69,020","813,912",8.48%
154,Central African Republic,328.0,155.0,173.0,117.0,155.0,133.0,122.0,113.0,152.0,150.0,"202,204","4,659,080",4.34%

In [29]:
connection_string = "postgres:Lsxmkdva25!@localhost:5432/Test"
engine = create_engine(f'postgresql://{connection_string}')

In [20]:
from sqlalchemy import create_engine

In [19]:
!pip install psycopg2

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/83/8d/bbb2ca983f3939066e8d104fe7a7b0fce1fd3d0f706ddb6d8a86bb33f5da/psycopg2-2.8.5-cp37-cp37m-win_amd64.whl (1.1MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.5

In [32]:
# Confirm tables
engine.table_names()

['Team_Alpha']

In [30]:
Sorted_df.to_sql(name='Team_Alpha', con=engine, if_exists='append', index=True)